* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 70vh;
  background-position: top;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.3))), url("https://images.unsplash.com/photo-1505843513577-22bb7d21e455?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80");
  background-image: linear-gradient(to right bottom rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1505843513577-22bb7d21e455?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80");
}

header .nav-cont {
  width: 100%;
  z-index: 10;
}

header .nav-cont .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
  padding-top: 10px;
  color: #fff;
}

header .nav-cont .nav-bar .logo img {
  width: 65px;
  cursor: pointer;
}

header .nav-cont .nav-bar nav ul li {
  cursor: pointer;
  padding: 6px 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .nav-cont .nav-bar nav ul li:hover {
  color: #D38144;
}

header .nav-cont .nav-bar ul button {
  padding: 8px 20px;
  margin: 0px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
  background-color: #D38144;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header .nav-cont .nav-bar ul button:hover {
  background-color: #D38144;
}

header .nav-cont .nav-bar #menu {
  font-size: 25px;
  display: none;
}

header .nav-cont .nav-bar .active {
  display: block;
  color: #D38144;
}

@media (max-width: 1000px) and (min-width: 800px) {
  header .nav-cont .nav-bar {
    margin: 0px 20px;
    padding-top: 20px;
  }
  header .nav-cont .nav-bar nav ul li {
    font-size: 0.85rem;
    padding: 6px 10px;
  }
}

@media (max-width: 800px) {
  header .nav-cont .nav-bar nav {
    display: none;
    z-index: 100;
    width: 90%;
    padding: 20px 0px;
    position: absolute;
    top: 85px;
    border-radius: 10px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 50%;
    color: #1d1a1a;
    background-color: #F0EFF4;
  }
  header .nav-cont .nav-bar nav ul li {
    display: block;
    line-height: 2;
  }
  header .nav-cont .nav-bar nav ul button {
    margin-top: 20px;
  }
  header .nav-cont .nav-bar #menu {
    display: block;
  }
}

header .header-content {
  width: 100%;
  z-index: 10;
  padding: 0 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .header-content .content {
  color: #ffffff;
  text-align: center;
}

header .header-content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .links .link {
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  background-color: #D38144;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

main .main-primary-content {
  margin-top: 100px;
  text-align: center;
}

main .main-primary-content h1 {
  font-size: 1.7rem;
  padding: 0px 10px;
  font-weight: 600;
  color: #161515;
}

main .main-primary-content .primary-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-primary-content .primary-content .contents {
  width: 350px;
  margin: 20px;
  margin-top: 50px;
  text-align: left;
}

main .main-primary-content .primary-content .contents img {
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 6px 9px 26px -5px rgba(0, 0, 0, 0.43);
          box-shadow: 6px 9px 26px -5px rgba(0, 0, 0, 0.43);
}

main .main-primary-content .primary-content .contents h2 {
  margin-top: 30px;
  font-weight: 500;
  color: #2e2e2e;
}

main .main-primary-content .primary-content .contents p {
  margin-top: 10px;
  color: #a5a5a5;
  line-height: 1.6;
  margin-bottom: 30px;
}

main .main-primary-content .primary-content .contents .owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-primary-content .primary-content .contents .owner img {
  border-radius: 50%;
  width: 50px;
  margin-right: 20px;
  -webkit-box-shadow: 4px 6px 20px -5px rgba(0, 0, 0, 0.43);
          box-shadow: 4px 6px 20px -5px rgba(0, 0, 0, 0.43);
}

main .main-primary-content .primary-content .contents .owner span {
  font-weight: 600;
}

main .main-secondary-content {
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
}

main .main-secondary-content h1, main .main-secondary-content p {
  text-align: center;
  padding: 10px;
}

main .main-secondary-content p {
  width: 800px;
  margin: auto;
  color: #dddddd;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

main .main-secondary-content .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-secondary-content .profiles .profile {
  width: 550px;
  height: 220px;
  border-radius: 3px;
  background-color: #fff;
  margin: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-secondary-content .profiles .profile img {
  width: 200px;
}

main .main-secondary-content .profiles .profile .content {
  margin: auto;
  text-align: center;
}

main .main-secondary-content .profiles .profile .content h2 {
  color: #161515;
  font-weight: normal;
  margin-bottom: 5px;
}

main .main-secondary-content .profiles .profile .content span {
  color: #18ce0f;
  font-weight: 600;
  font-size: 0.8rem;
}

main .main-secondary-content .profiles .profile .content p {
  width: unset;
  font-size: 1rem;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #797979;
}

@media (max-width: 900px) {
  main .main-secondary-content p {
    width: 90%;
  }
}

@media (max-width: 450px) {
  main .main-secondary-content .profiles .profile {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-secondary-content .profiles .profile img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
  main .main-secondary-content .profiles .profile .content p {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) and (min-width: 450px) {
  main .main-secondary-content .profiles .profile {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-secondary-content .profiles .profile img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
  main .main-secondary-content .profiles .profile .content p {
    padding-bottom: 20px;
  }
}

main .mail-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

main .mail-me .content {
  padding: 20px;
}

main .mail-me .content h1 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #161515;
}

main .mail-me .content p {
  margin-top: 20px;
  max-width: 550px;
  color: #949494;
}

main .mail-me .input input {
  width: 300px;
  height: 40px;
  outline: none;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  border: 2px solid #D38144;
}

main .mail-me .input button {
  padding: 10px 20px;
  border: none;
  background-color: #D38144;
  color: #fff;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px #d38244af;
          box-shadow: 0px 0px 10px #d38244af;
}

footer {
  padding-bottom: 10px;
  background-color: #1b1a1a;
}

footer .follow-us {
  text-align: center;
}

footer .follow-us h1 {
  color: #fff;
  padding-top: 50px;
  font-weight: 600;
}

footer .follow-us .social-links ion-icon {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.2rem;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

footer .follow-us .social-links #fb:hover {
  color: #0296ff;
}

footer .follow-us .social-links #ig:hover {
  color: #ff02ff;
}

footer .follow-us .social-links #li:hover {
  color: #0072c4;
}

footer .follow-us .social-links #tw:hover {
  color: #0062a8;
}

footer .follow-us .social-links #yt:hover {
  color: #ff0217;
}

footer .author {
  text-align: center;
  margin-top: 25px;
}

footer .author span {
  color: #fff;
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */